*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6a829;
    text-align: center;
}

div{
    margin-top: 5%;
}

p, h2{
    margin-top: 25px;
    
}

p{
    color: aliceblue;
}

button{
    background-color: cornflowerblue;
    border: none;
    font-size: 16px;
    margin: 35px;
    width: 110px;
    height: 40px;
    border-radius: 30px;
}

button:hover{
    transform: scale(1.05);
}