@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* :root{
    --text-black-400: #302e4d;
    --text-black-500: ;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: "Raleway";
    background-color: #f6a829;
}

.logo{
    max-width: 98.5%;
    margin: 1px 15px;
    width: 211vh;
	height: 16vh;
    border-radius: 1px 50px 1px 50px;
    background-color: #4472C4;
}

img{
    display: block;
    padding: 10px;
    width: 40vh;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;    
}

#titulo{
  width: 60vh;
  margin: 20px auto;
  text-align: center;
  color: aliceblue;
  font-weight: 900;
}

.subtitulo{
    text-align: center;
    width: 100vh;
    margin: 20px auto;
    font-weight: bold;

}

.grupo{
    margin: 10px auto;
    width: 100vh;
    height: 100px;
    display: flex;
    color: #ffffff;
    background-color: #4473c4c0;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bolder;
    padding: 20px;
}

.nome, .sobrenome{
    margin: 15px 10px;
    text-align: center;
    width: 40vh;
}

.tipoAt{
    margin: 0 auto;
    display: flex;
}
.textoDeSelec{
    width: 50vh;
    margin: 15px auto;
    text-align: center;
    display:flex;
    font-size: 20px;
}

.selecao{
    width: 40vh;
    font-size: 18px;
    margin: 5px 86vh;
    align-content: center;
 
}

button{
    margin: 30px 92vh;
    transition: all 0.2s ease;
}

.button{
    position: relative;
    width: 180px;
    height: 50px;
    padding: 0 50px;
    border-radius: 40px;
    background: #4473c4c0;
    color: #ffffff;
    overflow: hidden;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 35px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.button:focus{
    animation: morph 1.25s forwards;
}

.button > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.plane {
    display: none;
}

.send, .button:focus span{
    opacity: 0;
    visibility: hidden;
}

.button:focus .send{
    animation: reveal 1s 1.25s forwards;
}

.button:focus .plane{
    display: block;
    animation: takeOff 1s forwards;
}

button:hover{
    transform: scale(1.05);
}


@keyframes reveal{
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes morph {
    10%,
    80%{
        width: 50px;
        border-radius: 50%;
        background: var(--skin-color);
        color: white;
    }
    100%{
        background: green;
        color: white;
    }
}

@keyframes takeOff{
    5%, 15%, 25%, 35%, 45% {
        transform: translate(-47%, -50%);
    }
    10%, 20%, 30%, 40%, 50% {
        transform: translate(-53%, -50%);
    }
    90%{
        transform: translate(100px, -100px);
    }
    100%{
        transform: translate(100px, -100px);
    }
}

@media (max-width: 821px){
    .logo{
        width: 150vh;
        height: 15vh;
        margin: 5px auto;
        border-radius: 1px 50px 1px 50px;
        background-color: #4472C4;
        
    }
    
    img{
        padding: 8px;
        width: 38vh;
        height: 13vh;
    }
    
    .subtitulo{
        display: block;
        width: 60vh;
        font-size: 18px;
        margin: 5px auto;
    }

    .grupo{
        margin: 5px auto;
        width: 10px;
        background-color: #4473c4c0;
        border: 2px solid;
        border-radius: 20px;
    }
    
    .tipoAt{
        margin: 0 auto;
        display: flex;
        
    }

    .textoDeSelec{
        margin-top: 20px;
        font-size: 20px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .selecao{
        width: 150px;
        margin-top: 10px;
    }

    button{
        margin-top: 20px;
        transition: all 0.2s ease;
    }

    button:hover{
        transform: scale(1.05);
    }
    
}