@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* :root{
    --text-black-400: #302e4d;
    --text-black-500: ;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: "Raleway";
    background-color: #f6a829;
}

.logo{
    max-width: 98.5%;
    margin: 1px 15px;
    width: 211vh;
	height: 16vh;
    border-radius: 1px 50px 1px 50px;
    background-color: #4472C4;
}

.logoast{
    display: block;
    padding: 10px;
    width: 40vh;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;    
}

#titulo{
  width: 60vh;
  margin: 20px auto;
  text-align: center;
  color: aliceblue;
  font-weight: 900;
}

.subtitulo{
    text-align: center;
    width: 100vh;
    margin: 20px auto;
    font-weight: bold;

}

.grupo{
    margin: 10px auto;
    width: 100vh;
    height: 100px;
    display: flex;
    color: #ffffff;
    background-color: #4473c4c0;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bolder;
    padding: 20px;
}

.nome, .sobrenome{
    margin: 15px 10px;
    text-align: center;
    width: 40vh;
}

.nome input:hover{
    transform: scale(1.05);
}

.sobrenome input:hover{
    transform: scale(1.05);
}

/* sucesso para envio */
.img-sucesso{
    width: 20px;
    height: 20px;
}

.img-erro{
    width: 20px;
    height: 20px;
}


/* inicio escondendo no msg su-err*/
.nome i{
    position: absolute;
    visibility: hidden;
}

.sobrenome i{
    position: absolute;
    visibility: hidden;
}

.nome small, .sobrenome small {
    display: inline-block;
    visibility: hidden;
}

/* fim escondendo no msg su-err*/

.nome.sucesso input {
    border: 3px solid #4eca64;
}

.nome.sucesso i .img-sucesso{
    visibility: visible;
}

.sobrenome.sucesso input {
    border: 3px solid #4eca64;
}

.sobrenome.sucesso i .img-sucesso{
    visibility: visible;
}

/* erro de envio */

.nome.erro input {
    border: 3px solid #d85a5a;
}

.nome.nome.erro i .img-erro{
    visibility: visible;
}

.sobrenome.erro input{
    border: 3px solid #d85a5a;
}

.sobrenome.erro i .img-erro{
    visibility: visible;
}

.nome.erro small, .sobrenome.erro small{
    visibility: visible;
}


/* fim de estilização de mensagens de sucesso e erro */

.tipoAt{
    margin: 0 auto;
    display: flex;
}
.textoDeSelec{
    width: 50vh;
    margin: 15px auto;
    text-align: center;
    display:flex;
    font-size: 20px;
}

.selecao{
    width: 40vh;
    font-size: 18px;
    margin: 5px 86vh;
    align-content: center;
 
}

button{
    margin: 30px 95vh;
    background-color: #4472C4;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    color: #ffffff;
    border: none;
}


button:hover{
    transform: scale(1.05);
}


@media (max-width: 821px){
    .logo{
        display: inline-block;
        width: 70vh;
        height: 15vh;
        margin: 5px 10vh;
        border-radius: 1px 50px 1px 50px;
        background-color: #4472C4;
        
    }
    
    .logoast{
        padding: 8px;
        width: 38vh;
        height: 13vh;
    }

    #titulo{
        margin: 5px 15vh;
    }
    
    .subtitulo{
        display: block;
        width: 60vh;
        font-size: 18px;
        margin: 5px 15vh;
    }

    .grupo{
        display: inline-block;
        margin: 5px 25vh;
        width: 42vh;
        height: 22vh;
        background-color: #4473c4c0;
        border: 2px solid;
        border-radius: 20px;
        padding: 15px;
    }

    .nome{
        width: 50px;
        display: inline-block;
        margin: 2px 10vh;
        
    }
    
    .sobrenome{
        width: 50px;
        display: inline-block;
        margin: 2px 10vh;
        
    }
    
    #firstname, #lastname{
        height: 28px;
    }
    

    .textoDeSelec{
        margin: 10px 20vh;
        font-size: 22px;
        display: block;
    }
    
    .selecao{
        width: 150px;
        margin: 10px 38.5vh;
    }

    button{
        margin: 15px 38vh;
    }

    button:hover{
        transform: scale(1.05);
    }
    
}