@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* :root{
    --text-black-400: #302e4d;
    --text-black-500: ;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: "Raleway";
    background-color: #f6a829;
    text-decoration: none solid ;
}

.logo{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    width: 98%;
	height: 15%;
    border-radius: 1px 50px 1px 50px;
    background-color: #4472C4;
    
    
}

img{
    padding: 8px;
    width: 40vh;
    height: 15vh;
    margin-left: 40%;
}

h1, p{
    margin-top: 20px;
    text-align: center;
    max-width: 90%;
    background: red;

}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
    margin-bottom: 15px;
}

.grupo{
    margin: 10px auto;
    width: 40%;
    height: 100px;
    display: flex;
    padding: 20px;
    background-color: #4473c4c0;
    border: 2px solid;
    border-radius: 20px;
    
}

.nome{
    padding: 20px 20px;    
}

.sobrenome{
    padding: 20px 20px;
}

.tipoAt{
    margin: 0 auto;
    display: flex;
}
.textoDeSelec{
    text-align: center;
    font-size: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

.selecao{
    width: 200px;
    margin-top: 20px;
    margin-left: 45%;
    
}

button{
    margin-top: 25px;
    margin-left: 45%;
    margin-right: 45%;
    transition: all 0.2s ease;
}

.button{
    position: relative;
    width: 180px;
    height: 50px;
    padding: 0 50px;
    border-radius: 40px;
    background: #4473c4c0;
    color: #ffffff;
    overflow: hidden;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 35px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.button:focus{
    animation: morph 1.25s forwards;
}

.button > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.plane {
    display: none;
}

.send, .button:focus span{
    opacity: 0;
    visibility: hidden;
}

.button:focus .send{
    animation: reveal 1s 1.25s forwards;
}

.button:focus .plane{
    display: block;
    animation: takeOff 1s forwards;
}

button:hover{
    transform: scale(1.05);
}


@keyframes reveal{
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes morph {
    10%,
    80%{
        width: 50px;
        border-radius: 50%;
        background: var(--skin-color);
        color: white;
    }
    100%{
        background: green;
        color: white;
    }
}

@keyframes takeOff{
    5%, 15%, 25%, 35%, 45% {
        transform: translate(-47%, -50%);
    }
    10%, 20%, 30%, 40%, 50% {
        transform: translate(-53%, -50%);
    }
    90%{
        transform: translate(100px, -100px);
    }
    100%{
        transform: translate(100px, -100px);
    }
}

 @media (max-width: 820px){
    body{
        overflow:hidden;
        
    }

    .logo{
        margin-left: 45px;
        margin-right: 5px;
        margin-top: 10px;
        width: 98%;
        height: 10%;
        border-radius: 1px 50px 1px 50px;
        background-color: #4472C4;
        
    }
    
    img{
        padding: 8px;
        width: 30vh;
        height: 13vh;
        margin-left: 30%;
        
    }
    
    h1, p{
        margin-top: 20px;
        text-align: center;
    
    }
    
    h1{
        max-width: 95%;
        margin-left: 10%;
        font-size: 50px;
    }
    
    p{
        max-width: 95%;
        margin-left: 10%;
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .grupo{
        margin: 20px;
        margin-left: 15%;
        width: 60%;
        height: 100px;
        display: flex;
        padding: 10px;
        background-color: #4473c4c0;
        border: 2px solid;
        border-radius: 20px;
    }
    
    .nome{
        padding: 20px 20px;    
    }
    
    .sobrenome{
        padding: 20px 20px;
    }
    
    .tipoAt{
        margin: 0 auto;
        display: flex;
        
    }
    .textoDeSelec{
        margin-top: 20px;
        margin-left: 10%;
        font-size: 20px;
        display: block;
        justify-content: center;
        align-items: center;
        
    }
    
    .selecao{
        width: 150px;
        margin-top: 10px;
        margin-left: 45%;
      
        
    }

    button{
        margin-top: 20px;
        margin-left: 43%;
        margin-right: 60%;
        transition: all 0.2s ease;
    }

    button:hover{
        transform: scale(1.05);
    }
    
}